attrs
h5py == 3.6.0
matplotlib
napari
numpy == 1.23.0
onnxruntime
pandas
pynwb
PyQt5
scikit-image
scipy == 1.10.0
tifffile
tqdm
torchio
patchify
tensorflow
scikit-learn
monai
torchvision
threadpoolctl >= 3.0.0
torch
