attrs
h5py == 3.6.0
matplotlib
napari
scikit-image == 0.24.0
numpy == 1.23.0
onnxruntime
pandas
pynwb
PyQt5
scipy == 1.10.0
tifffile
tqdm
torchio
patchify
tensorflow
scikit-learn
monai
torchvision
threadpoolctl >= 3.0.0
torch
albumentations == 1.4.14
segmentation-models-pytorch == 0.3.4

